In [5]:
%matplotlib inline
import pandas as pd

In [6]:
cast = pd.read_csv('../dataset/cast.csv')

cast['decades'] = cast['year'] // 10 * 10

cast.head()

,title,year,name,type,character,n,decades
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0,2010
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0,1980
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0,2010
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN,2010
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN,2010

In [7]:
release_dates = pd.read_csv('../dataset/release_dates.csv',
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                   #BKKY  2016     Cambodia 2017-10-12
2                 #Beings  2015      Romania 2015-01-29
3               #Captured  2017          USA 2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21

In [8]:
len(cast), len(release_dates)

# 244k movies
# 500k release_dates
# 4M    movies_by_cast

(3786176, 479488)

In [10]:
release_dates.date.head()

0   2007-06-15
1   2017-10-12
2   2015-01-29
3   2017-09-05
4   2015-01-21
Name: date, dtype: datetime64[ns]

In [21]:
k = release_dates.date

year = k.dt.year.head()
day = k.dt.day.head()
day_of_year = k.dt.dayofyear.head()
day_of_week = k.dt.dayofweek.head()


day_of_week

# only series has .dt !!

0    4
1    3
2    3
3    1
4    2
Name: date, dtype: int64

In [24]:
# merge
# join is like merge but w/ different defaults
c = cast

c = c[c.name == 'Ellen Page']  #how can we get also release dates from release dataframe

c.merge(release_dates).head()

,title,year,name,type,character,n,decades,country,date
0,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,2000,Sweden,2007-12-07
1,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,2000,Greece,2008-05-15
2,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,2000,Spain,2008-06-13
3,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,2000,Finland,2008-07-18
4,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,2000,Mexico,2008-08-08

In [28]:
# pivot
r = release_dates

r = r[r.title.str.startswith('Star Wars: Episode')]
r = r[r.country.str.startswith('U')]

r = r.pivot('title', 'country', 'date') # setindex, sortindex, unstack ops in 1 piece, but in very limited context

r.head()

country,UK,USA,Ukraine,United Arab Emirates,Uruguay
title,,,,,
Star Wars: Episode I - The Phantom Menace,1999-07-15,1999-05-19,NaT,1999-08-25,1999-07-02
Star Wars: Episode II - Attack of the Clones,2002-05-16,2002-05-16,2002-06-08,2002-05-16,2002-07-05
Star Wars: Episode III - Revenge of the Sith,2005-05-19,2005-05-19,NaT,2005-05-19,2005-05-18
Star Wars: Episode IX,NaT,2019-12-20,NaT,NaT,NaT
Star Wars: Episode V - The Empire Strikes Back,1980-05-21,1980-06-20,NaT,NaT,1981-01-15

In [38]:
# who is casting w/ Cary Grant , merging w/ same dataset
cg = cast
cg = cg[cg.name == 'Cary Grant']

cg.head()

,title,year,name,type,character,n,decades
871388,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0,1930
871389,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1.0,1950
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0,1940
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0,1930
871392,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0,1930

In [43]:
# who is casting w/ Cary Grant , merging w/ same dataset
cg = cast
cg = cg[cg.name == 'Cary Grant']

cg = cg.merge(cast, on=['title', 'year'])
cg = cg[cg.n_y <= 2]  # it also show cary crant w/ cary grant (additional lines)
cg = cg[cg.name_y != 'Cary Grant']

cg

,title,year,name_x,type_x,character_x,n_x,decades_x,name_y,type_y,character_y,n_y,decades_y
0,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0,1930,Richard Arlen,actor,Cheshire Cat,1.0,1930
1,Alice in Wonderland,1933,Cary Grant,actor,Mock Turtle,10.0,1930,Roscoe Ates,actor,Fish,2.0,1930
106,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1.0,1950,Deborah Kerr,actress,Terry McKay,2.0,1950
151,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0,1940,Priscilla Lane,actress,Elaine Harper,2.0,1940
202,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0,1930,Joan Bennett,actress,Eve Fallon,2.0,1930
237,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0,1930,Herbert Marshall,actor,Edward 'Ned' Faraday,2.0,1930
256,Blonde Venus,1932,Cary Grant,actor,Nick Townsend,3.0,1930,Marlene Dietrich,actress,"Helen Faraday, aka Helen Jones",1.0,1930
296,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0,1930,Loretta Young,actress,Letty Strong,1.0,1930
343,Bringing Up Baby,1938,Cary Grant,actor,David,2.0,1930,Katharine Hepburn,actress,Susan,1.0,1930
387,Charade,1963,Cary Grant,actor,Peter Joshua,1.0,1960,Audrey Hepburn,actress,Regina Lampert,2.0,1960
403,Crisis,1950,Cary Grant,actor,Dr. Eugene Norland Ferguson,1.0,1950,Jos? Ferrer,actor,Raoul Farrago,2.0,1950
476,Dead Men Don't Wear Plaid,1982,Cary Grant,actor,'Handsome' (in 'Suspicion'),10.0,1980,Steve Martin,actor,Rigby Reardon,1.0,1980
501,Dead Men Don't Wear Plaid,1982,Cary Grant,actor,'Handsome' (in 'Suspicion'),10.0,1980,Rachel Ward,actress,Juliet Forrest,2.0,1980
523,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0,1940,John Garfield,actor,Wolf,2.0,1940
580,Devil and the Deep,1932,Cary Grant,actor,Lt. Jaeckel,4.0,1930,Gary Cooper,actor,Lt. Sempter,2.0,1930
598,Devil and the Deep,1932,Cary Grant,actor,Lt. Jaeckel,4.0,1930,Tallulah Bankhead,actress,Diana Sturm,1.0,1930
666,Dream Wife,1953,Cary Grant,actor,Clemson Reade,1.0,1950,Deborah Kerr,actress,Effie,2.0,1950
697,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0,1930,Elissa Landi,actress,Lisa Della Robbia,1.0,1930
723,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0,1940,Franchot Tone,actor,Roger Sanford,2.0,1940
759,Father Goose,1964,Cary Grant,actor,Walter,1.0,1960,Leslie Caron,actress,Catherine,2.0,1960
791,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0,1930,Benita Hume,actress,Eleanor La Velle,2.0,1930
815,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN,1940,Jack Haley,actor,Jack Evans,2.0,1940
862,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN,1940,Joan Davis,actress,Joan Mason,1.0,1940
921,Gunga Din,1939,Cary Grant,actor,Cutter,1.0,1930,Victor McLaglen,actor,MacChesney,2.0,1930
966,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0,1940,Rosalind Russell,actress,Hildy Johnson,2.0,1940
1006,Holiday,1938,Cary Grant,actor,Johnny Case,2.0,1930,Katharine Hepburn,actress,Linda Seton,1.0,1930
1028,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0,1930,Nancy Carroll,actress,Ruth Brock,2.0,1930
1079,Houseboat,1958,Cary Grant,actor,Tom Winters,1.0,1950,Sophia Loren,actress,Cinzia Zaccardi,2.0,1950
1137,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0,1940,Ann Sheridan,actress,1st Lt. Catherine Gates,2.0,1940
1177,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0,1930,Mae West,actress,Tira,1.0,1930
...,...,...,...,...,...,...,...,...,...,...,...,...
2857,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0,1930,Irene Dunne,actress,Lucy Warriner,1.0,1930
2918,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0,1940,Myrna Loy,actress,Judge Margaret Turner,2.0,1940
2957,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0,1940,Loretta Young,actress,Julia Brougham,2.0,1940
2968,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0,1930,Fredric March,actor,Jerry Young,1.0,1930
2987,The Grass Is Greener,1960,Cary Grant,actor,"Victor Rhyall, Earl",1.0,1960,Deborah Kerr,actress,Lady Hilary Rhyall,2.0,1960
3041,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0,1940,Martha Scott,actress,Jane Peyton-Howard,2.0,1940
3068,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0,1930,Gertrude Michael,actress,Rosemary,2.0,1930
3091,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0,1940,Katharine Hepburn,actress,Tracy Lord,2.0,1940
3110,The Pride and the Passion,1957,Cary Grant,actor,Anthony,1.0,1950,Frank Sinatra,actor,Miguel,2.0,1950
3181,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0,1940,Jean Arthur,actress,Nora Shelley,2.0,1940
3195,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0,1930,Edward Arnold,actor,Jim Fisk,1.0,1930
3326,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0,1930,Nancy Carroll,actress,Glenda O'Brien,1.0,1930
3360,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0,1930,Sylvia Sidney,actress,Nancy Lane,1.0,1930
3361,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0,1930,Sylvia Sidney,actress,Princess Catterina,1.0,1930
3367,This Is Elvis,1981,Cary Grant,actor,Himself,NaN,1980,Paul Boensch III,actor,Elvis - Age 10,2.0,1980
3398,This Is Elvis,1981,Cary Grant,actor,Himself,NaN,1980,David (II) Scott,actor,Elvis - Age 18,1.0,1980
3435,This Is the Night,1932,Cary Grant,actor,Stephen Mathewson,5.0,1930,Charles Ruggles,actor,Bunny West,2.0,1930
3440,This Is the Night,1932,Cary Grant,actor,Stephen Mathewson,5.0,1930,Lili Damita,actress,Germaine,1.0,1930
3525,To Catch a Thief,1955,Cary Grant,actor,John Robie,1.0,1950,Grace Kelly,actress,Frances Stevens,2.0,1950
3586,Topper,1937,Cary Grant,actor,George Kerby,2.0,1930,Constance Bennett,actress,Marion Kerby,1.0,1930
3639,Topper Takes a Trip,1938,Cary Grant,actor,George Kerby,NaN,1930,Roland Young,actor,Mr. Topper,2.0,1930
3640,Topper Takes a Trip,1938,Cary Grant,actor,George Kerby,NaN,1930,Constance Bennett,actress,Marion Kerby,1.0,1930
3667,Trumbo,2015,Cary Grant,actor,Himself,NaN,2010,Bryan Cranston,actor,Dalton Trumbo,1.0,2010
3756,Trumbo,2015,Cary Grant,actor,Himself,NaN,2010,Michael Stuhlbarg,actor,Edward G. Robinson,2.0,2010
3843,Walk Don't Run,1966,Cary Grant,actor,Sir William Rutland,1.0,1960,Samantha Eggar,actress,Christine Easton,2.0,1960
3920,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0,1930,Joan Bennett,actress,Monica 'Rusty' Fleming,1.0,1930
4003,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0,1930,Grace Moore,actress,Louise Fuller,1.0,1930
4056,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0,1930,Myrna Loy,actress,Sheila Mason,1.0,1930
4148,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN,1940,John Wayne,actor,Rusty,2.0,1940
4158,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN,1940,Claudette Colbert,actress,Kit,1.0,1940

### Make a bar plot of the months in which movies with "Christmas" in their title tend to be released in the USA.

### Make a bar plot of the months in which movies whose titles start with "The Hobbit" are released in the USA.

### Make a bar plot of the day of the week on which movies with "Romance" in their title tend to be released in the USA.

### Make a bar plot of the day of the week on which movies with "Action" in their title tend to be released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with Judi Dench tend to be released in the USA?

### In which months do films with Tom Cruise tend to be released in the USA?