In [1]:
%matplotlib inline

import pandas as pd
import seaborn as sns

sns.set()

In [90]:
titles = pd.read_csv('../dataset/titles.csv')

titles.tail() # creates a new dataframe !. so we can use less data for some kind of analytis

                               title  year
244909                       Nishabd  2007
244910             The Food Gamblers  1917
244911  Scarlet Samurai: Incarnation  2013
244912                        Grumpy  1930
244913                  Lacha Guajri  1997

In [43]:
cast = pd.read_csv('../dataset/cast.csv')

cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [47]:
k = titles.head(20)

k['decades'] = k['year'] // 10 * 10

k

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                        title  year  decades
0                       Chatur Singh Two Star  2011     2010
1                   Night Train for Inverness  1960     1960
2                              Njiur melambai  1951     1950
3                Roya-ye nime-shab-e tabestan  1994     1990
4                     Undskyld jeg forstyrrer  2012     2010
5                          Lion of the Desert  1980     1980
6                             Bertolo Balodoy  1939     1930
7                          Lookin' to Get Out  1982     1980
8   ROH & NJPW Present War of the Worlds 2017  2017     2010
9                                    Stupid 7  2013     2010
10                            Sinfonia fatale  1947     1940
11                                       Hawa  2003     2000
12                           40 Is the New 20  2009     2000
13                                       Leon  2018     2010
14                   Double Happiness Uranium  2013     2010
15                             Fallen Brother  2016     2010
16                           Lo La'alot Yoter  1979     1970
17                               Full Contact  1993     1990
18                       Searching for Angels  2011     2010
19                     Gramps Goes to College  2014     2010

In [45]:
k['year'] > 1980

0      True
1     False
2     False
3      True
4      True
5     False
6     False
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18     True
19     True
Name: year, dtype: bool

In [74]:
k[(k['year'] > 1980) & (k['year'] < 2010)]

# returns the rows of dataframe (a bit different from above one!)
# and operator is not valid in this panda syntax.
# and () are very important :)

                           title  year  decades
3   Roya-ye nime-shab-e tabestan  1994     1990
7             Lookin' to Get Out  1982     1980
11                          Hawa  2003     2000
12              40 Is the New 20  2009     2000
17                  Full Contact  1993     1990

### How many movies are listed in the titles dataframe?

In [46]:
titles.count()

# or len(titles)

title    244914
year     244914
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [87]:
titles.sort_values('year').head(10)

                                                    title  year
182104                                         Miss Jerry  1894
168782                                 The Startled Lover  1898
203211     Reproduction of the Corbett and Jeffries Fight  1899
132983                           Trouble in Hogan's Alley  1900
104822                              Soldiers of the Cross  1900
14688                                      May Day Parade  1900
208835  Pierrot's Problem, or How to Make a Fat Wife O...  1900
124612                               Family Troubles (II)  1900
181252                                        The Divorce  1903
164738                                            Valsons  1905

### How many movies have the title "Hamlet"?

In [85]:
x = titles[titles['title'] == 'Hamlet']

len(x)

20

### How many movies are titled "North by Northwest"?

In [86]:
len(titles[titles['title'] == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [92]:
titles[titles['title'] == 'Hamlet'].sort_values('year').head(10)

         title  year
244063  Hamlet  1910
60365   Hamlet  1911
80722   Hamlet  1913
50865   Hamlet  1921
148216  Hamlet  1948
67346   Hamlet  1954
39398   Hamlet  1964
214447  Hamlet  1969
30377   Hamlet  1973
62291   Hamlet  1976

### List all of the "Treasure Island" movies from earliest to most recent.

In [95]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
28912   Treasure Island  1918
144989  Treasure Island  1920
219393  Treasure Island  1934
213282  Treasure Island  1950
137935  Treasure Island  1972
214020  Treasure Island  1973
195015  Treasure Island  1985
159044  Treasure Island  1999

### How many movies were made in the year 1950?

In [99]:
len(titles[titles.year == 1950])

1113

### How many movies were made in the year 1960?

In [100]:
len(titles[titles.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [111]:
len(titles[(titles.year >= 1950) & (titles.year < 1959)])

11419

### In what years has a movie titled "Batman" been released?

In [112]:
titles[(titles.title == 'Batman')]

         title  year
31007   Batman  1989
151410  Batman  1943

### How many roles were there in the movie "Inception"?

In [141]:
x = cast[cast.title == 'Inception']

x.character.unique(), len(x.character.unique())

(array(['LAX Passenger', "Fischer's Jet Captain", 'Browning',
        'Mombasan Gambler', 'Bridge Sub Con', 'Miles', 'Elderly Bald Man',
        'Bar Sub Con', 'Snow Commander', 'Cobb', 'Italian Gambler',
        'Stock Broker', 'Extra', 'Cab Driver', 'Penrose Sub Con',
        'Immigration Officer', 'James (3 years)', 'Lobby Sub Con',
        'Old Cobb', 'Arthur', 'Nash', 'Eames', 'Lawyer', 'Pedestrian',
        'Hotel Guest', 'Japanese Landing Crew', 'Mombasan Casino Staff',
        'Thin Man', 'Mombasa Casino Cashier', "Saito's Bodyguard Officer",
        'Street Person', 'Tadashi', 'French Student',
        'Japanese Security Guard', 'Robert Fischer', 'A Passer-By',
        'James (20 months)', "Saito's Attendant", 'Businessman',
        'Maurice Fischer', 'Yusuf', 'Airport Patron', 'Denison',
        "Fischer's Driver", 'Saito', 'Mal', 'Mombasan Cashier',
        'Stockbroker', 'Phillipa (3 years)', 'Phillipa (5 years)',
        'Reporter', 'Flight Attendant', 'Ariadne', 'Private Nurse',
        'Blonde', 'Old Mal'], dtype=object), 56)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [150]:
z = pd.isnull(x.n)

x[z] #z contains true/false 

len(x[z])

27

In [153]:
x = cast[cast.title == 'Inception']

z = x[x.n.isnull()]

z

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
374661,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
497161,Inception,2010,Garvin Cross,actor,Snow Commander,NaN
684098,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
690634,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
707642,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
836295,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
1006636,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1095095,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1108755,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1120184,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1189066,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1248176,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1296268,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1312335,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1665939,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1836655,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1921209,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1999736,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2127670,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2238386,Inception,2010,Affan Tareen,actor,Denison,NaN
2796449,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2852164,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2950644,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
3054447,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3149397,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [151]:
z = pd.notnull(x.n)

x[z] #z contains true/false 

len(x[z])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [159]:
cast_of_north = cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort_values('n')

# cast_of_north = cast_of_north[cast_of_north.n.notnull()]

cast_of_north

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [164]:
cast_of_sleuth = cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

cast_of_sleuth

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [165]:
cast_of_sleuth = cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

cast_of_sleuth

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [174]:
roles_of_hamlet = cast[(cast.title == 'Hamlet') & (cast.year == 1921)].character.unique()

roles_of_hamlet, len(roles_of_hamlet)

(array(['Fortinbras,', 'K?nig Hamlet', 'Laertes', 'Polonius', 'Horatio',
        'Claudius', 'K?nigin Gertrude', 'Ophelia', 'Hamlet'], dtype=object), 9)

### How many roles were credited in Branaghs 1996 Hamlet?

In [175]:
roles_of_hamlet = cast[(cast.title == 'Hamlet') & (cast.year == 1996)].character.unique()

roles_of_hamlet, len(roles_of_hamlet)

(array(['Attendant to Claudius', 'English Ambassador',
        'Second Gravedigger', "Ghost of Hamlet's Father", 'Cadet in Play',
        'Hamlet', 'Polonius', 'Priest', 'Laertes Mob', 'First Gravedigger',
        'Stage Manager', 'Reynaldo', 'Guildenstern', 'Yorick', 'Lucianus',
        'Old Fortinbras', 'Horatio', 'Francisco', 'Priam', 'Player King',
        'Cornelius', 'Claudius', "Fortinbras's Captain", 'Marcellus',
        'Elsinore Courtier', 'Laertes', 'Barnardo', 'Old Norway',
        'Sailor Two', 'Pyrrhus', 'Young Lord', 'Boatman', 'Fortinbras',
        'Rosencrantz', 'Young Hamlet', 'First Player', 'Voltimand',
        'Osric', 'Sailor One', 'Alexander', 'Gertrude', 'Hecuba',
        'Attendant to Gertrude', 'Doctor', 'Player Queen', 'Prologue',
        'Prostitute', 'Second Player', 'Ophelia'], dtype=object), 49)

### How many "Hamlet" roles have been listed in all film credits through history?

In [176]:
roles_of_hamlet = cast[(cast.title == 'Hamlet')].character.unique()

roles_of_hamlet, len(roles_of_hamlet)

(array(['Attendant to Claudius', 'Fortinbras,', 'Laertes', 'Player',
        'Reynaldo', 'Fortinbras', 'Cornelius', 'Second Gravedigger',
        'English Ambassador', 'Second Player', 'Bernardo', 'Marcellus',
        'Rosencrantz', 'Horatio',
        'The Royal Court Of Denmark - Polonius,Lord Chamberlain',
        'Polonius', 'Osric', 'Claudius', 'Royal Hound',
        "Ghost of Hamlet's Father", 'Cadet in Play', 'Hamlet', 'Priest',
        'Bit Part', 'Ghost ', ' Player King', 'Gravedigger', 'Laertes Mob',
        'Player King', 'The Players', 'Butler', 'Francisco',
        'K?nig Hamlet', 'Voltimand', 'First Gravedigger', 'Player Queen',
        'Guildenstern', 'Stage Manager', 'Norwegian captain', 'Yorick',
        "Ghost Of Hamlet's Father", 'Lucianus', 'Old Fortinbras',
        'Captain', " Fortinbras's Captain", 'Special Guest Appearance',
        'Kissing Man', 'Messenger', 'Ghost', 'Priam', 'Lord',
        'Claudius, King of Denmark', 'Player Prologue', 'Palace Nobleman',
        'Courtier', "Fortinbras's Captain", 'Spear Carrier',
        'First Player', 'Extra', 'Lucianus (in "The Murder of Gonzago")',
        'Sea Captain', 'Elsinore Courtier', "Claudius' Bodyguard",
        'Barnardo', 'Old Norway', 'Sailor Two', 'Pyrrhus',
        'The Royal Court Of Denmark - Laertes,his Son', 'Flight Captain',
        'Voltemand',
        'The Royal Court Of Denmark - Hamlet,Prince of Denmark',
        'The Gravedigger', 'Attendant', '1st Sailor', 'The Ghost',
        'Bodyguard', 'King Hamlet', 'The Priest', 'Rosencrants',
        'Young Lord', 'Boatman', '1st Player', 'Gentleman',
        'Claudius - The King', 'Young Hamlet', 'Policeman',
        'The Royal Court Of Denmark - Horatio, his Friend', 'Sailor One',
        'Alexander', 'Diretora da Pe?a', 'Gertrude', 'Marcella', 'Lady',
        'Polonia', 'Ophelia', 'K?nigin Gertrude', 'Margaret',
        '1st Gravedigger', 'Lady of the Court', 'Hecuba',
        'Attendant to Gertrude', 'Doctor', 'Gertrude - The Queen',
        'Court Lady', 'Blockbuster Clerk', 'Gertrude, Queen of Denmark',
        '2nd Gravedigger', 'Prologue', 'Prostitute', 'Secretary',
        'Ophelia - and Daughter', 'Court lady'], dtype=object), 112)

### How many people have played an "Ophelia"?

In [190]:
# people_of_ophelia = cast[(cast.character == 'Ophelia') & (cast.title == 'Hamlet')].name.unique()

people_of_ophelia = cast[(cast.character == 'Ophelia')].name.unique()

people_of_ophelia, len(people_of_ophelia)

(array(['Amy Bourque', 'Josie Chisholm', 'Crystal Cordero',
        'Lucas Grabeel', 'Catherine (IV) Lord', 'Justine Mooritz',
        'Elle Wilcox', 'Hiu Yee Wong', 'Paulina V. Ahlstrom',
        'Kathrin Angerer', 'Naseem Banu', 'Louise Beavers', 'Viva Bianca',
        'Helena Bonham Carter', 'Rachel Broderick', 'Sian Brooke',
        'Pamela (II) Brown', 'Beth Buchanan', 'Jennie Bushnell',
        'Cailey Calisi', 'Shaina Cantino', 'Linda Certain',
        'Melissa Chalsma', 'June Conniff', 'Frances Conroy',
        'Elizabeth (III) Croft', 'Jamie Lee Curtis', 'Bernadette Cuvalo',
        'Ruby Dandridge', 'Bettina Dubbled', 'Tamsin Egerton',
        'Jenna Elfman', 'Gertrude Elliot', 'Helen (XI) Evans',
        'Marianne Faithfull', 'Joanne Farrell', 'Petrina Fitzpatrick',
        'Emily Franks', 'Rosalinde Fuller', 'Martha Gehman',
        'Lara Gilchrist', 'Ami Goodheart', 'Aisling Goodman',
        'Adrienne Gould', 'Rachel Grubb', 'Holiday Hadley',
        'Cooper Harris', 'Julie Harris', 'Malaak Hattab',
        'Trisha Hitchcock', 'Christina Holden', 'Mavie H?rbiger',
        'Lilly Jacobson', 'Siobh?n F. Jess', 'Natalya Kashkovskaya',
        'Elise Kibler', 'Simone Kirby', 'Julia (III) Lee', 'Tamara Lentz',
        'Madeline (II) Leon', 'Vanessa Leonard', 'Kirsty Linton',
        'Johnnie Mae', 'Helena Makowska', 'Mara Marini',
        'Bruna Marquezine', 'Linda Marsh', 'Deborah Martinez',
        'Maisie McCoy', 'Kathryn McGuire', 'Lauren Michele',
        'Helen Mirren', 'Mrs. Priestly Morrison', 'Francesca Murdoch',
        'Harmony Murphy', 'Valerie (V) Nelson', 'Leslie Nesbit',
        'Cassidy Lee Ann Newman', 'Ani Nikolashvili', 'Robin (II) Noble',
        'Marie Paquim', 'Ines Pedroza', 'Sydney K Penny', 'Mattie Peters',
        'Cherry Pie Picache', 'Joanna Pickering', 'Lucie Pohl',
        'Miranda Richardson', 'Daisy Ridley', 'Joanna Roth', 'Synthia Roy',
        'Isabella Russo', 'Britt Sady', 'Emilie Sannom',
        'Margaret Schiess', 'C.C. Sheffield', 'Tallulah Sheffield',
        'Ophelia Shtruhl', 'Delia Silvan', 'Natalie (II) Simpson',
        'Mala Sinha', 'Chelsea Skalski', 'Amy Sloan', 'Lisa Marie Smith',
        'Julia Stiles', 'Kristi (V) Taylor', 'Kristy Taylor',
        'Christine Tesco', 'Anastasiya Vertinskaya', 'Ingrid Vollset',
        'Marsha Warfield', 'Jennifer Lynn Warren', 'Katie (II) West',
        'Helen (IV) Wilson', 'Kate Winslet'], dtype=object), 115)

### How many people have played a role called "The Dude"?

In [194]:
roles_of_dude = cast[cast.character == 'The Dude'].name.unique()

roles_of_dude, len(roles_of_dude)

(array(['Jeff Bridges', 'Jordan Cann', 'Scott Crowell', 'Chris DeMarcus',
        'Mike Donlin', 'Devin The Dude', 'Michael D. Goodwin',
        'Matthew (XIX) James', 'Christopher Kadish', 'Jason Loughridge',
        'Steve Lyons', 'Mark Alan Meek', 'Jerry Miley', 'House Peters Jr.',
        'Thomas (VIII) Porter', 'Jason Priestley', 'Bobby Styles',
        'Dick Van Patten', 'Joel Weiss'], dtype=object), 19)

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

In [197]:
roles_of_sidney = cast[cast.name == 'Sidney Poitier'].character.unique()

roles_of_sidney, len(roles_of_sidney)

(array(['Gordon Ralfe', 'Manny Durrell', 'Walter Lee Younger',
        'Dr. Matt Younger', 'Sgt. Eddie Towler', 'Rau-Ru',
        'Gregory W. Miller', 'John Kane', 'Buck', 'Reverend Msimangu',
        'Toller', 'Tommy Tyler', 'Jack Parks', 'Inman Jackson',
        'Gates Watson', 'John Prentice', 'Virgil Tibbs', 'Clyde Williams',
        'Homer Smith', 'Roy Parmenter', 'Dr. Luther Brooks', 'Eddie Cook',
        'Porgy', 'Doctor', 'Robertson', 'Night Club Extra',
        'Warren Stantin', 'Donald Crease', 'Kimani Wa Karanja',
        'Ben Munceford', 'Noah Cullen', 'Simon of Cyrene',
        'FBI Deputy Director Carter Preston', 'Aly Mansuh', 'Jason Higgs',
        'Obam', 'Alan Newell', 'Shack Twala', 'Mark Thackeray',
        'Steve Jackson', 'Marcus'], dtype=object), 41)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [202]:
roles_of_cary = cast[(cast.name == 'Cary Grant') & (cast.n == 2)].character.unique()

roles_of_cary, len(roles_of_cary)

(array(['Malcolm Trevor', 'David', 'Gerald Fitzgerald', 'Johnny Case',
        'Jack Clayton', 'Alec Walker', 'Lieutenant B.F. Pinkerton',
        'Nick Arden', 'Roger Adams', 'Captain Cummings', 'Jimmy Monkley',
        'Jerry Warriner', 'Henry Crocker', 'Nick Boyd', 'Jeffrey Baxter',
        'Porter Madison III', 'George Kerby', 'Charlie Mason',
        'Jimmy Hudson', 'Ken Gordon'], dtype=object), 20)

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

In [207]:
roles_of_50s = cast[(cast.year >= 1950) & (cast.year < 1960)].character.unique()

roles_of_50s, len(roles_of_50s)

(array(['Limbo Dance by', 'Dirk Jan', 'Themselves', ...,
        'Dronning Viktoria', 'Frk. Lind', 'moren til Trygve'], dtype=object),
 128233)

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?